// Overrides
// See https://github.com/slatedocs/slate/blob/main/source/stylesheets/_variables.scss

// CUSTOM STYLES
////////////////////
.index .toc-wrapper .logo {
  max-width: 65%;
  margin: 12px 20px 20px;
}
.toc-wrapper li .toc-link.active {
  position: relative;
}
.toc-wrapper li .toc-link.active::before {
  height: 100%;
  width: 4px;
  background-color: #FFDE70;
  position: absolute;
  left: 0;
  content: '';
}
.index .toc-wrapper li, .index .toc-wrapper ul {
  line-height: 32px;
}
.toc-wrapper li a {
  font-size: 15px;
}
.toc-wrapper li .toc-h2 {
  font-size: 13px;
}
.toc-wrapper li .toc-h3 {
  font-size: 13px;
}
.toc-wrapper .toc-footer li a {
  font-size: 13px;
}

// BACKGROUND COLORS
////////////////////
$nav-bg: #2d363c !default;
$nav-subitem-bg: hsl(200, 30%, calc(35% * 0.8)) !default;
$nav-active-bg: hsl(200, 30%, calc(35% / 0.8)) !default;
$nav-active-parent-bg: #3e6173 !default;
$aside-notice-bg: hsl(200, 30%, calc(35% / 0.7)) !default;

// SIZES
////////////////////
$logo-margin: 20px !default; // margin below logo
$nav-padding: 30px;

// FONTS
////////////////////
$font-default-size: 15px !default;
$font-default-weight: 500 !default;
$font-code-size: 14px !default;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

$font-default-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// TODO: Add ur own google fonts
